/*GENERAL*/

body {
    background-color: orange;
}

main {
    background-color: green;
}

/*HEADER*/

header {
    background-color: yellow;
    height:25vh;
}

/*NAVBAR*/

.navbar {
    background-color: blue;
    overflow: hidden;
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 50px;
    height: 20vh;
}
.navbar a {
    color: aliceblue;
    padding: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 50px;
    text-decoration: none;

}


/*SECTION 1*/

.container1 {
    background-color: yellow;
}

.paragraphe1 {
    background-color: lightblue;
}

.paragraphe2 {
    background-color: lightblue;
}

/*SECTION 2*/

.container2 {
    background-color: yellow;
}

/*FOOTER/